.main-desc {
    display: flex;
    width: 100%;
  }
  
  .info {
    display: flex;
    align-items: center;
    font-size: small;
  }
  
  .info > p {
    color: rgba(0, 0, 0, 0.4);
    margin: 0 10px;
  }
  
  .info > p > span {
    color: rgba(0, 0, 0, 0.8);
    margin: 0 5px;
  }
  
  .info > a {
    color: var(--primary-color) !important;
  }
  .info > a:hover {
    cursor: pointer;
    color: var(--secondary-color-forlink) !important;
  }

  .arrow {
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.25);
  }
  .arrow:hover{
    cursor: pointer;
  }
  
  .all-options > .MuiSvgIcon-root {
    color: rgba(0, 0, 0, 0.25);
    font-size: large;
    margin: 5px 0;
  }
  
  .ql-syntax {
    display: flex;
    width: 90%;
    overflow: hidden;
  }
  pre {
    display: flex;
    width: 90px;
    flex-wrap: wrap;
  }

  .view-pdf{
    /* border: 2px solid black; */
    border-radius: 10px;
    margin-bottom: 16px;
    /* padding: 16px; */
    /* background-color: white; */
    font-Weight: 300;
  }
  .view-pdf .view-pdf-title{
    margin-Bottom: 20px;
    font-size: 1.3rem;
  }
  .view-pdf:not(.active){
    display: none;
  }

  .icon-reply{
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
  }
  .icon-reply p{
    margin-left: 5px;
  }
  .icon-reply:hover{
    cursor: pointer;
    color: var(--secondary-color-forlink);
  }

  .answer{
    background-color: white;
    border-radius: 10px;
    margin-top: 16px;
    padding: 16px;
    box-shadow: -3px 3px 10px 0px rgb(0 72 12 / 12%),
     2px 5px 18px 0px rgb(0 139 41 / 10%);
  }

  .main-answer{
    font-Size: 22px;
    margin-bottom: 10px;
    font-Weight: 400;
  }
  .main-answer > h3{
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    font-size: large;
  }

  
  .file-attach{
    font-Size: 22px;
    /* margin: 60px 0; */
    margin: 60px 0 16px 0;
    font-Weight: 500;    
  }
  .file-attach > h3{
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    font-size: large;
  }